@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.containerSearch{
    position: abs;
    padding-top: 5%;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 120%;
    color: #634242;
}

.common{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    border:3px solid #634242;
    
}

.searchField{
    
    color: #634242;
    border-radius: 25px;
    background-color: #ECDECE;
    width: 30%;
    padding-left: 20px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

}

.searchButton{
    margin-left: 2%;
    background-color: #634242;
    border:3px solid #634242;
    color: #ECDECE;
    padding-left: 2%;
    padding-right: 2%;

}

.showButton{
    margin-top: 3%;
    margin-left: 10%;
    width: 47.5%;
    border-radius: 25px;
    background-color: #ECDECE;
    color: #634242;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
}

.searchField:focus { 
    outline:none;
    border-color: #634242;
 }